body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
    position: relative;
    min-height: 100vh;
}

.container {
    display: flex;
    width: 95%;
    margin: 20px auto;
    position: relative;
    z-index: 2;
}

#sidebar {
    flex: 1;
    padding: 20px;
    max-height: 90vh;
    max-width: 260px;
}

#file-list {
    list-style: none;
    max-height: 70vh;
    max-width: 250px;
    overflow-y: auto;
    padding: 10px;
}

#file-list li {
    cursor: pointer;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid rgba(200, 200, 200, 0.3); 
    background-color: transparent;
}

#file-list li:hover {
    background-color: rgba(255, 255, 255, 0.1); 
}

#main-content {
    width: 100%;
}

#block-grid-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    width: calc(100% - 350px);
    height: 85vh;
    margin-right: 20px;
}

#block-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    max-height: 89vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.block {
    padding: 10px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: transparent;
}
.block:hover {
    background-color: rgba(255, 255, 255, 0.1); 
}

.block img {
    max-width: 80px;
    max-height: 80px;
}

#top-right-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    position: absolute;
    top: 20px;
    right: 20px;
    max-width: 300px;
}

#blueprint-section, #block-details {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3); 
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}

#bottom-bar {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    color: white;
    z-index: 3;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    transition: height 0.5s ease;
}

#bottom-bar-top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

#bottom-bar-arrow span {
    color: white;
}

#bottom-expanded-content {
    height: 0px;
    max-height: 91vh;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    transition: height 0.5s ease;
}

.bottom-bar-block {
    width: 100px;
    height: 100px;
    padding: 20px;
    text-align: center;
    background-color: transparent;
    margin-right: 10px;
}

.bottom-bar-block:hover {
    background-color: rgba(255, 255, 255, 0.1); 
}

.bottom-bar-block img {
    width: 100%;
    height: 70%;
    object-fit: contain;
}

.expanded #bottom-expanded-content {
    height: auto;
    max-height: 91vh; 
    padding-bottom: 50px;
}

.expanded #bottom-bar-arrow span {
    transform: rotate(180deg);
}

#blueprint-canvas {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.2;
    width: 90vw;
    height: 90vh;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    #bottom-bar, #bottom-expanded-content {
        width: 90%;
    }
}
